@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .bg-grid-light {
    background-color: #f9fafb;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 0, 0, 0.04) 1px, transparent 1px);
    background-size: 40px 40px;
  }

  .bg-grid-dark {
    background-color: #111827;
    background-image:
      linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
    background-size: 40px 40px;
  }
}